{% extends "dasar.html" %}
{% block satu %}

<form method="POST" enctype="multipart/form-data">
{% csrf_token %}
<table style="width: 90%; height: 30px; margin-top: 30px; margin-right: 10px; margin-left: 50px;" border="0">
<tbody>
<tr>
<td><label>Nama Penerima:</label></td>
<td><input type="text"  name="namapenerima" class="form-control" ></td>
</tr>
<tr>
<td><label>No. Telepon Penerima :</label></td>
<td><input type="text" class="form-control" name="telppenerima" ></td>
</tr>
<tr>
<td><label>Kota Penerima :</label></td>
<td><input type="text" class="form-control" name="kotapenerima" ></td>
</tr>
<tr>
<td><label>Provinsi Penerima :</label></td>
<td><input type="text" class="form-control" name="provinsipenerima" ></td>
</tr>
<tr>
<td><label>Alamat Penerima :</label</td>
<td><textarea name="alamatpenerima" style="width:100%;" cols="30" rows="10"></textarea></td>
</tr>
<tr>
<td><label>Upload Pembayaran :</label></td>
<td><input type="file" class="form-control" name="uploadpembayaran" ></td>
</tr>
<tr>
<td><button type="submit" class="btn btn-sm" style="background-color: #f8b739; color: aliceblue;">Pesan</button></td>
</tr>
</tbody>
</table>
</form>
</div>
<!-- DivTable.com -->
{% endblock satu %}