<div id="navbarCollapse" class="collapse navbar-collapse justify-content-start">
		{% comment %} <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" name="cari" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit" >Search</button>
    </form> {% endcomment %}
		<form class="navbar-form form-inline">
			<div class="input-group search-box ">								
				<input type="text" id="search" class="form-control" placeholder="Search here..." >
				<div class="input-group-append">
					<span class="input-group-text">
						<i class="material-icons">&#xE8B6;</i>
					</span>
				</div>
			</div>
        </form> 