<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'vendor:posting'%}" >Posting</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" disabled>
          Manage
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'vendor:ManagePosting' %}">Manage Ternak</a>
          <a class="dropdown-item" href="{% url 'vendor:ManagePembeli' %}">Manage Pembelian</a>
        </div>
      </li>
      <li class="nav-item">
      <a class="nav-link" href="{% url 'vendor:IndexBukaToko' %}">Toko Ternak</a>
      </li>    
    </ul>